__pycache__/
*.py[cod]
*.so
*.log
*.sqlite3
*.env
*.DS_Store
*.egg-info/
*.pytest_cache/
*.mypy_cache/
*.coverage
*.vscode/
*.idea/
*.pyo
*.pyd
*.pdb
*.swp
*.swo
*.tmp
*.temp
*.cache
*.node_modules/
venv/
*.aichat
include.txt
output.txt
